    <header>
        <nav>
            <a href="/" class="logo">
                <span style="font-size: 24px;">👤</span> MyContacts
            </a>
            <ul>
                <li><a href="/" class="active">All Contacts</a></li>
                <li><a href="/admin/add-contact">Add Contact</a></li>
            </ul>
        </nav>
    </header>